$darker-blue: #0e2496;
$light: #fff;
$light-hover: #bbb;
$announcementbox: rgba(215, 89, 89, 0.914);
$logo-padding: 6px;
$carousel-width: 60%;

.announcementbox{
    background-color: $announcementbox;
    padding: 8px;
    border-radius: 2px;
    border: 2px solid black;
}

nav{
    background-color: $darker-blue;
    #navbar-logo{
        margin-left: 30%;
        background-color: $light;
        padding: $logo-padding $logo-padding*2;
        border-radius: 15px;
    }
    .nav-link{
        color: $light;
        &:hover{
            color:$light-hover;
        }
    }
}

body{
    background-color: $light;
}

#homepagecarousel{
    width: $carousel-width!important;
    margin: 2% (100-$carousel-width)/2;
    img{
        border-radius:11px;
    }
}
